<div class="education">
<table class="table table-sm table-borderless">
    <tr>
        <th scope="row" style="width: 20%">2022 - 2024</th>
        <td>
            
            <p class="education-title">National University of Singapore</p>
            <p class="">Master of Computing in Computer Science Specialization</p>
        </td>
    </tr>
    <tr>
        <th scope="row" style="width: 20%">2017 - 2021</th>
        <td>
            <p class="education-title">Macau University of Science and Technology</p>
            <p class="">Bachelor of Science in Software Technology and Application</p>
            <p class="education-desc">GPA: 3.92/4.00, Rank: 1/150</p>
        </td>
    </tr>
</table>
</div>