<div class="education">
<table class="table table-sm table-borderless">
    <tr>
        <th scope="row" style="width: 20%">2024 - Present</th>
        <td>
            <p class="education-title">National University of Singapore</p>
            <p class="">Research Assistant in the Department of Computer Science</p>
        </td>
    </tr>
    <tr>
        <th scope="row" style="width: 20%">2021 - 2022</th>
        <td>
            <p class="education-title">Institute of Automation, Chinese Academy of Sciences</p>
            <p class="">Research Intern in the National Laboratory of Pattern Recognition</p>
        </td>
    </tr>
    <tr>
        <th scope="row" style="width: 20%">2020</th>
        <td>
            <p class="education-title">Tencent Technology</p>
            <p class="">Back-end Developer Intern, Cloud Arch & Platform Dept.</p>
        </td>
    </tr>
</table>
</div>